<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{$title}</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/html.css">
    <style>
        .a{
            width: 100%;
            height: 50px;
            background-color: aquamarine;
        }
    </style>
</head>
<body>
<!--mix 会被混合到当前的页面里-->
{include file="../header.html" name="Jack"}
{include file="footer.html" name="Jack" mix}
<div class="ccc">{$name}</div>
<p>{$age}</p>
<p>{$title}</p>

<?php
foreach ($names as $name){
    echo '<p>'.$name.'</p>';
}
?>
</body>
</html>